.modal-layer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 99;
}

.dialog {
   background: #ffffff;
   border-radius: 5px;
   position: absolute;
   top: 200ox;
   left: calc(50% - 200px);
   width: 400px;

   .dialog-header{
      background: #ededed;
      padding: 10px, 20px;
      text-align: center;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
   }
   .dialog-content {
      padding: 20px;
      .group-text-input {
         padding: 5px;
         width: 240px;
         border-radius: 5px;
         border: 1px solid #CCCCCC;
         font-size: 1rem;
      }
   }
   .dialog-footer {
      border-top: 1px solid #CCCCCC;
      padding: 10px 20px;
      overflow: hidden;

      .cansel-button {
         float: left;
         width: 80px;
         height: 30px;
         border-radius: 5px;
         border: 0;
         background: #EEEEEE;
         cursor: pointer;
         font-size: 0.8rem;
      }
      .save-button {
         float: right;
         width: 80px;
         height: 30px;
         border-radius: 5px;
         border: 0;
         background: #4466FF;
         cursor: pointer;
         font-size: 0.8rem;
         color: #FFFFFF;
      }
      .delete-button {
         float: right;
         width: 80px;
         height: 30px;
         border-radius: 5px;
         border: 0;
         background: #EEEEEE;
         cursor: pointer;
         font-size: 0.8rem;
         margin-right: 10px;
      }
   }
}