* {
  padding: 0;
  margin: 0;
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

#root {
  width: 100%;
  height: 100%; }

li {
  List-style: none; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex; }

.side-area {
  width: 300px;
  height: 100%;
  background: #e2e2e2; }

.group-List li {
  padding: 10px 20px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer; }

.main-area {
  width: calc(100% - 300px);
  height: 100%;
  position: relative; }
  .main-area .list-area {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px - 40px); }
    .main-area .list-area .todo-list {
      margin: 0;
      padding: 10px; }
      .main-area .list-area .todo-list .todo-list-item {
        padding: 10px 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-bottom: 5px;
        list-style: none; }
        .main-area .list-area .todo-list .todo-list-item input[type="checkbox"] {
          margin-right: 10px; }
        .main-area .list-area .todo-list .todo-list-item .delete-button {
          border: none;
          font-size: 1.2rem;
          float: right;
          cursor: pointer;
          outline: none; }
    .main-area .list-area .todo-input-area {
      margin: 20px 10px;
      overflow: hidden; }
      .main-area .list-area .todo-input-area .todo-input {
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        float: left;
        width: calc(100% - 120px); }
      .main-area .list-area .todo-input-area .add-button {
        border: none;
        border-radius: 8px;
        background: #3366FF;
        color: #FFFFFF;
        width: 60px;
        height: 43px;
        font-size: 15px;
        float: right; }

.header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 20px;
  background: #cccccc; }

.footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 10px;
  bottom: 0;
  left: 0;
  background: #cccccc; }

.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99; }

.dialog {
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 200ox;
  left: calc(50% - 200px);
  width: 400px; }
  .dialog .dialog-header {
    background: #ededed;
    padding: 10px, 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px 5px 0 0; }
  .dialog .dialog-content {
    padding: 20px; }
    .dialog .dialog-content .group-text-input {
      padding: 5px;
      width: 240px;
      border-radius: 5px;
      border: 1px solid #CCCCCC;
      font-size: 1rem; }
  .dialog .dialog-footer {
    border-top: 1px solid #CCCCCC;
    padding: 10px 20px;
    overflow: hidden; }
    .dialog .dialog-footer .cansel-button {
      float: left;
      width: 80px;
      height: 30px;
      border-radius: 5px;
      border: 0;
      background: #EEEEEE;
      cursor: pointer;
      font-size: 0.8rem; }
    .dialog .dialog-footer .save-button {
      float: right;
      width: 80px;
      height: 30px;
      border-radius: 5px;
      border: 0;
      background: #4466FF;
      cursor: pointer;
      font-size: 0.8rem;
      color: #FFFFFF; }
